<h1>Enter some numbers and find out if they make a square!</h1>
<form action="/rectangle">
  <div class="form-group">
    <label for="length">Enter your rectangle length:</label>
    <input id="length" name="length" class="form-control" type="number" >
    <label for="width">Enter your rectangle width:</label>
    <input id="width" name="width" class="form-control" type="number" >
  </div>
  <button type="submit" class="btn btn-success">Is It A Square?</button>
</form>
